@keyframes ease-down {
    from {
        transform: translateY(-150%);
    } to {
        transform: translateY(0px);
    }
}

@keyframes ease-up {
    from {
        transform: translateY(0px);
    } to {
        transform: translateY(-150%);
    }
}

:root {
    --HB_Color_Background: #EEE5CE;
    --HB_Color_Accent: #E0E5C1;
    --HB_Color_HeaderUnderline: #C0AD6A;
    --HB_Color_HorizontalRule: #9C2B1B;
    --HB_Color_HeaderText: #58180D;
    --HB_Color_MonsterStatBackground: #F2E5B5;
    --HB_Color_CaptionText: #766649;
    --HB_Color_WatercolorStain: #BBAD82;
    --HB_Color_Footnotes: #C9AD6A;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Mr Eaves Small Caps", sans-serif;
}

body {
    background-image: url(https://homebrewery.naturalcrit.com/assets/parchmentBackground.jpg);
    background-size: cover;
}
#container {
    display: grid;
    grid-template-columns: 10% 30% 35% 25%;
    height: 100vh;
    position: relative;
}

#info-container {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    grid-template-rows: 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
}

#stats-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: black solid 5px;
    border-left: black solid 5px;
    align-items: center;
}

#basic-stats-container {
    width: 100%;
    border-bottom: black solid 10px;
    display: grid;
    grid-template-columns: repeat(6,16.66%);
    grid-template-rows: 30% 70%;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100px;
}


.stat-label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--HB_Color_Accent);
    color: var(--HB_Color_HeaderText);
    overflow: hidden;
    font-family: "Nodesto Caps Condensed", sans-serif;
    border-image: url(https://homebrewery.naturalcrit.com/assets/noteBorder.png) 12 stretch;
    border-image-width: 11px;
    border-image-outset: 9px 0px;
    border-width: 1px;
    box-shadow: 1px 4px 14px #888888;
    
}

.stat {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border: solid black 1px;
    font-weight: 300;
    color: var(--HB_Color_HeaderText);
}


.info-label {
    height: 60%;
    background-color: var(--HB_Color_Accent);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: var(--HB_Color_HeaderText);
    font-weight: bold;
    border-image: url(https://homebrewery.naturalcrit.com/assets/noteBorder.png) 12 stretch;
    border-image-width: 11px;
    border-image-outset: 9px 0px;
    border-width: 1px;
    box-shadow: 1px 4px 14px #888888;
    
}

#pledge-title-label {
    height: 25%;
}

.character-input {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    transition: all ease 0.3s;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.character-input:hover {
    background-color: black;
    color: white;
}

#list-container {
    z-index: 2;
    background-color: white;
    border: black 5px solid;
    position: absolute;
    height: 70%;
    width: 50%;
    justify-self: center;
    align-self: center;
    overflow: scroll;
}

#shadow {
    z-index: -1;
    background-color: black;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

#list-label {
    text-align: center;
    font-size: 30px;
    
}
#pledge-box-container {
    aspect-ratio: 1/1;
    border-bottom: black 5px solid;
    width: 100%;
}

#pledge-box-label {
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color: gray;
    height: 50px;
    overflow: hidden;
    text-wrap: stable ;
}

#pledge-box {
    height: max-content;
    background-color: lightgray;
}

#equipment-box-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,33.3%);
    grid-template-rows: repeat(9,11.1%);
    height: 40%;
}
#equipment-label {
    width: 100%;
    grid-column: span 3;
    grid-row: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    color: white;
    background-color: gray;
    height: min-content;
}
#gold-pieces-label {
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(255, 255, 170);
}

.equipment-label {
    display: flex;
    justify-content: center;
    align-items: center;
    border: gray 1px solid;
}
#gold-pieces {
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: lightgray;
}

.equipment {
    text-align: center;
}

#proficiencies-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#proficiencies-container {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-rows: 40px calc(100% - 80px) 40px;
    border-collapse: separate;
    background-color: white;
    border: initial;
    border-style: solid;
    border-image-source: url(https://homebrewery.naturalcrit.com/assets/frameBorder.png);
    border-image-slice: 200;
    border-image-width: 47px;
    border-image-outset: .4cm .3cm;
    border-image-repeat: stretch;
    
}
#proficiencies-label {
    width: 100%;
    text-align: center;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: "Scaly Sans Caps", sans-serif;
}

#proficiency-wrapper {
    padding: 5px;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.proficiency-container {
    display: flex;
    width: 95%;
    justify-content: space-between;
    height: 30px;
    margin: 2px 0px;
    border: initial;
    border-style: solid;
    border-image-source: url(https://homebrewery.naturalcrit.com/assets/frameBorder.png);
    border-image-slice: 200;
    border-image-width: 100px;
    border-image-repeat: stretch;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px white;
}

.proficiency-title {
    width: 20%;
    text-wrap: nowrap;
    margin: 0px 15px;
    height: 100%;
    display: flex;
    align-items: center;
}



.proficiency-input {
    appearance: none;
    -webkit-appearance: none;
    width: 40%;
    height: 1px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    padding: 0;
    margin: 0;
    align-self: center;
}

/* Customizing the thumb/handle */
.proficiency-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.proficiency-input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: lime;
    cursor: pointer;
}

.proficiency-input::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: lime;
    cursor: pointer;
}

/* Customizing the track */
.proficiency-input::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: linear-gradient(to right, lime 0%,  red 0%);
    border-radius: 10px;
    border: none;
}


.edit-prof-container {
    display: flex;
    flex-direction: row;
    width: 12%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-right: 10px;
    align-self: center;
}

.add-prof-button, .remove-prof-button {
    width: 30%;
    height: 100%;
    aspect-ratio: 3/1;
    transition: all ease 0.3s;
    font-size: 10px;
}

.add-prof-button:hover, .remove-prof-button:hover {
    background-color: black;
    color: white;
}

.add-prof-button {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

.remove-prof-button {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.prof-display {
    width: 33%;
    height: 90%;
    text-align: center;
    align-self: center;
    justify-self: center;
    border: black 1px solid;
    font-size: 12px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.category {
    width: 99%;
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    border-radius: 4px;
    overflow-wrap: normal;
    flex-wrap: nowrap;
    margin-top: 10px;
    border: initial;
    border-style: solid;
    border-image-source: url(https://homebrewery.naturalcrit.com/assets/frameBorder.png);
    border-image-slice: 200;
    border-image-width: 100px;
    border-image-repeat: stretch;
}
.category-label {
    height: 25px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.dropdown-icon {
    position: absolute;
    top: 8px;
    right: 8px;
}

.Weapons {
    box-shadow: 0px 0px 30px 1px rgb(255, 127, 127);
    background-color: rgb(255, 127, 127) ;
}

.Armor {
    background-color: lightgray;
    box-shadow: 0px 0px 30px 1px lightgray;
}

.Work-Proficiencies {
    background-color: rgb(255, 255, 158);
    box-shadow: 0px 0px 30px 1px rgb(255, 255, 158);
}

.Magic-Ability {
    background-color: lightgreen;
    box-shadow: 0px 0px 30px 1px lightgreen;
}

#SANITY-container {
    background-color: lightblue;
    box-shadow: 0px 0px 30px 1px lightblue;
    align-self: center;
}

#PROFESSIONS-container {
    background-color: rgb(224, 189, 224);
}

#PLEDGE-container {
    background-color: rgb(255, 157, 157);
}

.big_prof {
    height: 40px;
    display: flex;
    margin: 0px;
}

#big-prof-container {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#skills-check-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#skills-check-container {
    width: 90%;
    border-style: solid;
    border-width: 7px;
    border-image: url(https://homebrewery.naturalcrit.com/assets/descriptiveBorder.png) 12 stretch;
    border-image-outset: 4px;
    box-shadow: 0 0 6px #FAF7EA;
    padding: 3px 0px;
    background-color: white;
    height: 90%;
    overflow: scroll;
}
#skills-check-label {
    height: 80px;
    color: var(--HB_Color_HeaderText);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

#skills-check {
    padding: 30px;
}

.category-list-container {
    width: 97%;
    justify-self: center;
    align-self: center;
    border: black 1px solid;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skill-check-header {
    border-bottom: 2px solid var(--HB_Color_HeaderUnderline);
    color: var(--HB_Color_HeaderText);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.skill-check-paragraph {
    font-family: 'Bookinsanity', sans-serif;
    font-size: 15px;
}