@keyframes ease-down {
    from {
        transform: translateY(-150%);
    } to {
        transform: translateY(0px);
    }
}

@keyframes ease-up {
    from {
        transform: translateY(0px);
    } to {
        transform: translateY(-150%);
    }
}

html {
    scroll-behavior: smooth;
}

:root {
    --HB_Color_Background: #EEE5CE;
    --HB_Color_Accent: #E0E5C1;
    --HB_Color_HeaderUnderline: #C0AD6A;
    --HB_Color_HorizontalRule: #9C2B1B;
    --HB_Color_HeaderText: #58180D;
    --HB_Color_MonsterStatBackground: #F2E5B5;
    --HB_Color_CaptionText: #766649;
    --HB_Color_WatercolorStain: #BBAD82;
    --HB_Color_Footnotes: #C9AD6A;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Mr Eaves Small Caps", sans-serif;
}

body {
    background-image: url(https://homebrewery.naturalcrit.com/assets/parchmentBackground.jpg);
    background-size: cover;
}
#container {
    display: grid;
    grid-template-columns: 10% 30% 35% 25%;
    height: 100vh;
    position: relative;
}

#character-name {
    font-size: 20px;
    font-weight: bold;
}
#info-container {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    grid-template-rows: 1.5fr 1.5fr 1.5fr 0.75fr 1fr 0.75fr;
}

#stats-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: black solid 5px;
    border-left: black solid 5px;
    align-items: center;
}

#basic-stats-container {
    width: 100%;
    border-bottom: black solid 3px;
    display: grid;
    grid-template-columns: repeat(6,16.66%);
    grid-template-rows: 30% 70%;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100px;
}

#pledge-title-label {
    height: 40%;
}

#physical-condition-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}


#mental-condition-container {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mental-condition-label {
    width: 100%;
    height: 60%;
}
#character-image-container {
    height: 98%;
    position: relative;
    border: none;
    box-shadow: none;
}
#character-image {
    position: absolute;
    height: 100%;
    width: 100%;
}
#character-image-file {
    position: relative;
    width: 100%;
    height: 100%;
}

#character-image-input {
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    z-index: 1;
}

.file-input-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-name {
    height: 0px;
    width: 0px;
    opacity: 0;
}




.stat-label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: var(--HB_Color_Accent);
    color: var(--HB_Color_HeaderText);
    overflow: hidden;
    font-family: "Nodesto Caps Condensed", sans-serif;
    border-image: url(https://homebrewery.naturalcrit.com/assets/noteBorder.png) 12 stretch;
    border-image-width: 11px;
    border-image-outset: 9px 0px;
    border-width: 1px;
    box-shadow: 1px 4px 14px #888888;
    position: relative;
    z-index: 1;
    
}

.stat {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border: solid black 1px;
    font-weight: 300;
    color: var(--HB_Color_HeaderText);
}


.info-label {
    height: 40%;
    background-color: var(--HB_Color_Accent);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: var(--HB_Color_HeaderText);
    font-weight: bold;
    border-image: url(https://homebrewery.naturalcrit.com/assets/noteBorder.png) 12 stretch;
    border-image-width: 11px;
    border-image-outset: 9px 0px;
    border-width: 1px;
    box-shadow: 1px 4px 14px #000000;
    
}

.character-input {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    transition: all ease 0.3s;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    background-color: rgba(109, 51, 0, 0.142);
}

.character-input:hover {
    background-color: black;
    color: white;
}

#list-container {
    z-index: 2;
    background-color: white;
    border: black 5px solid;
    position: absolute;
    height: 80%;
    width: 70%;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ancestries-wrapper {
    display: flex;
    align-items: center;
    height: 90%;
    justify-content: space-evenly;
    width: 100%;
}

.ancestry-container {
    width: 17%;
    height: 90%;
    display: flex;
    align-items: center;
    border: black solid 4px;
    padding: 10px 0px;
    flex-direction: column;
    transition: ease 0.2s all;
}

.ancestry-container:hover, .profession-container:hover, .pledge-container:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 30px 2px black;
}
.ancestry-title {
    font-size: 30px;
    height: 10%;
}

.ancestry-img {
    height: 40%;
    width: 90%;
    border: black solid 2px;
    text-align: center;
}

.ancestry-stat-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.ancestry-stat-table {
    margin-top: 10px;
    width: 92%;
    border: black solid 2px;
}

.ancestry-label {
    font-size: 12px;
}

.ancestry-stat {
    font-size: 25px;
    padding: 0px 1px;
    text-align: center;
}

.ancestry-skill-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 2px;
    width: 90%;
    height: 22%;
    padding: 2px 0px;
}

.ancestry-skill-label {
    font-size: 20px;
    font-weight: bold;
    height: 25%;
}
.ancestry-skill-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

.ancestry-skill {
    margin: 2px 0px;
    width: 90%;
    border: black 2px solid;
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.ancestry-view-more {
    height: 10%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    font-weight: bold;
}

#profession-wrapper {
    height: 80%;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 30%;
    grid-auto-flow: row;
    overflow: scroll;
    gap: 15px;
    padding: 20px;
}

.profession-container {
    display: flex;
    padding: 3px;
    border: black solid 3px;
    transition: all ease 0.2s;
}

.profession-info-container {
    width: 60%;
    margin-left: 10px;
}
.profession-stat-table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    border: black solid 2px;
}
.profession-label {
    height: 25%;
    width: 100%;
    text-align: center;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.profession-skill-container {
    display: flex;
    height: 26%;
    border: black solid 2px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}
.profession-skill-label {
    width: 30%;
    border-right: black solid 2px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.profession-selected {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.profession-skill {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.spellmod-stat {
    background-color: rgba(120, 221, 255, 0.512);
}

.profession-main-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profession-img {
    border: black solid 2px;
    width: 100%;
    height: 80%;
}

#pledge-wrapper {
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 60%;
    gap: 20px;
    border: black solid 3px;
    margin: 10px;
    overflow: scroll;
    height: 85%;
    overflow-x: hidden;
    justify-items: center;
}

.pledge-img {
    height: 50%;
    width: 90%;
    border: black solid 3px;
}

.pledge-selected {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
.pledge-container {
    border: black solid 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: all ease 0.2s;
}

.pledge-name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -3px;
    line-height: 20px;
}

.pledge-title {
    font-size: 15px;
    color: rgb(62, 62, 62);
    height: 12%;
    display: flex;
    text-align: center;
    margin: 5px;
    margin-top: 0px;
}
#shadow {
    z-index: -1;
    background-color: black;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

#list-label {
    text-align: center;
    font-size: 40px;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#pledge-box-container {
    aspect-ratio: 1/1;
    border-bottom: black 5px solid;
    width: 100%;
}

#pledge-box-label {
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color: gray;
    height: 50px;
    overflow: hidden;
    text-wrap: stable ;
}

#pledge-box {
    height: max-content;
    background-color: lightgray;
}

#equipment-box-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35%;
    border: initial;
    border-style: solid;
    border-image-source: url(https://homebrewery.naturalcrit.com/assets/frameBorder.png);
    border-image-slice: 200;
    border-image-width: 100px;
    border-image-repeat: stretch;
    padding: 25px 0px;
    flex-direction: column;
    justify-content: space-evenly;
}
#equipment-label {
    width: 80%;
    justify-self: center;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: var(--HB_Color_HeaderText);
    border: initial;
    border-style: solid;
    border-image-source: url(https://homebrewery.naturalcrit.com/assets/frameBorder.png);
    border-image-slice: 200;
    border-image-width: 100px;
    border-image-repeat: stretch;
    height: min-content;
}

#equipments {
    width: 80%;
    border: var(--HB_Color_HeaderText) 2px solid;
    border-radius: 10px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--HB_Color_HeaderText);
}

#on-hold {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--HB_Color_HeaderText) 2px solid;
    height: 80%;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--HB_Color_Accent);
    justify-content: space-evenly;
}

#on-hold-item {
    height: 80%;
}

#on-hold-label {
    font-size: 20px;
    font-weight: bold;
    color: var(--HB_Color_HeaderText);
    margin-top: 10px;
    text-wrap: nowrap;
}
.gold-container {
    display: flex;
    justify-content: space-evenly;
    border: var(--HB_Color_HeaderText) 2px solid;
    background-color: var(--HB_Color_MonsterStatBackground);
    border-radius: 10px;
    width: 35%;
    align-items: center;
}

#gold-wrapper {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    height: 20%;
    margin-top: 10px;
}

.gold-count {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inventory {
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--HB_Color_Accent);
    border-radius: 10px;
    padding: 5px;
}

#on-hold-item {
    border: var(--HB_Color_HeaderText) 2px solid;
    aspect-ratio: 1/1;
    width: 80%;
    height: 60%;
}

.gold-img {
    height: 80%;
}

#backpack {
    height: 75%;
}

#proficiencies-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#proficiencies-container {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-rows: 40px calc(100% - 80px) 40px;
    border-collapse: separate;
    background-color: white;
    border: initial;
    border-style: solid;
    border-image-source: url(https://homebrewery.naturalcrit.com/assets/frameBorder.png);
    border-image-slice: 200;
    border-image-width: 47px;
    border-image-outset: .4cm .3cm;
    border-image-repeat: stretch;
    
}
#proficiencies-label {
    width: 100%;
    text-align: center;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: "Scaly Sans Caps", sans-serif;
}

#proficiency-wrapper {
    padding: 5px;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.proficiency-container {
    display: flex;
    width: 95%;
    justify-content: space-between;
    height: 30px;
    margin: 2px 0px;
    border: initial;
    border-style: solid;
    border-image-source: url(https://homebrewery.naturalcrit.com/assets/frameBorder.png);
    border-image-slice: 200;
    border-image-width: 100px;
    border-image-repeat: stretch;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px white;
}

.proficiency-title {
    width: 25%;
    text-wrap: nowrap;
    margin: 0px 15px;
    height: 100%;
    display: flex;
    align-items: center;
}



.proficiency-input {
    appearance: none;
    -webkit-appearance: none;
    width: 40%;
    height: 1px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    padding: 0;
    margin: 0;
    align-self: center;
}

/* Customizing the thumb/handle */
.proficiency-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.proficiency-input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: lime;
    cursor: pointer;
}

.proficiency-input::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: lime;
    cursor: pointer;
}

/* Customizing the track */
.proficiency-input::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: linear-gradient(to right, lime 0%,  red 0%);
    border-radius: 10px;
    border: none;
}


.edit-prof-container {
    display: flex;
    flex-direction: row;
    width: 15%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-right: 10px;
    align-self: center;
}

.add-prof-button, .remove-prof-button {
    width: 30%;
    height: 100%;
    aspect-ratio: 3/1;
    transition: all ease 0.3s;
    font-size: 10px;
}

.add-prof-button:hover, .remove-prof-button:hover {
    background-color: black;
    color: white;
}

.add-prof-button {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

.remove-prof-button {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.prof-display {
    width: 33%;
    height: 90%;
    text-align: center;
    align-self: center;
    justify-self: center;
    border: black 1px solid;
    font-size: 18px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.category {
    width: 99%;
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    justify-content: center;
    border-radius: 4px;
    overflow-wrap: normal;
    flex-wrap: nowrap;
    margin-top: 10px;
    border: initial;
    border-style: solid;
    border-image-source: url(https://homebrewery.naturalcrit.com/assets/frameBorder.png);
    border-image-slice: 200;
    border-image-width: 100px;
    border-image-repeat: stretch;
}

.category:hover, .proficiency-container:hover {
    font-weight: bolder;
}
.category-label {
    height: 30px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-icon {
    position: absolute;
    top: 8px;
    right: 8px;
}

.Weapons {
    box-shadow: 0px 0px 10px 1px rgb(255, 127, 127);
    background-color: rgb(255, 127, 127) ;
}

.Armor {
    background-color: lightgray;
    box-shadow: 0px 0px 10px 1px lightgray;
}

.Work-Proficiencies {
    background-color: rgb(255, 255, 158);
    box-shadow: 0px 0px 10px 1px rgb(255, 255, 158);
}

.Magic-Ability {
    background-color: lightgreen;
    box-shadow: 0px 0px 10px 1px lightgreen;
}

#SANITY-container {
    background-color: lightblue;
    box-shadow: 0px 0px 30px 1px lightblue;
    align-self: center;
}

#PROFESSIONS-container {
    background-color: rgb(224, 189, 224);
}

#PLEDGE-container {
    background-color: rgb(255, 157, 157);
}

.big_prof {
    height: 40px;
    display: flex;
    margin: 0px;
}

#big-prof-container {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#skills-check-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#skills-check-container {
    width: 90%;
    border-style: solid;
    border-width: 7px;
    border-image: url(https://homebrewery.naturalcrit.com/assets/descriptiveBorder.png) 12 stretch;
    border-image-outset: 4px;
    box-shadow: 0 0 6px #FAF7EA;
    padding: 3px 0px;
    background-color: white;
    height: 90%;
    overflow: scroll;
}
#skills-check-label {
    height: 80px;
    color: var(--HB_Color_HeaderText);
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}

#skills-check {
    padding: 30px;
}

.category-list-container {
    width: 97%;
    justify-self: center;
    align-self: center;
    border: black 1px solid;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skill-check-header {
    border-bottom: 2px solid var(--HB_Color_HeaderUnderline);
    color: var(--HB_Color_HeaderText);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.skill-check-paragraph {
    font-family: 'Bookinsanity', sans-serif;
    font-size: 15px;
}

.body-part-container {
    height: 15%;
    width: 98%;
}

.disabled-text {
    justify-self: center;
    align-self: center;
    width: 80px;
    font-size: 15px;
}